.card {
  border: 1px solid black;
  width: 350px;
  padding: 4px;
  margin: 16px 4px 16px 4px;
}

img {
  width: 350px;
}

.card__text {
  padding: 4px;
}

.card__title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card__description {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card__tech-title {
  margin-top: 10px;
  margin-bottom: 2px;
}

.card__techs {
  margin-top: 2px;
  margin-bottom: 10px;
}
